.SW-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-select {
  color: black;
}

.App-card {
  font-size: large;
  color: black;
}